SAP/wsdl-get.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions"xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions">

<wsdl:documentation>

<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>

</wsdl:documentation>

<wsp:UsingPolicy wsdl:required="true"/>

<wsp:Policy wsu:Id="BN_ZMPPP_WS_COMP_DTLS">

<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>

<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>

<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">

<wsp:All>

<sp:TransportBinding>

<wsp:Policy>

<sp:TransportToken>

<wsp:Policy>

<sp:HttpsToken>

<wsp:Policy>

<sp:HttpBasicAuthentication/>

</wsp:Policy>

</sp:HttpsToken>

</wsp:Policy>

</sp:TransportToken>

<sp:AlgorithmSuite>

<wsp:Policy>

<sp:TripleDesRsa15/>

</wsp:Policy>

</sp:AlgorithmSuite>

<sp:Layout>

<wsp:Policy>

<sp:Strict/>

</wsp:Policy>

</sp:Layout>

</wsp:Policy>

</sp:TransportBinding>

</wsp:All>

</wsp:ExactlyOne>

</wsp:Policy>

<wsp:Policy wsu:Id="IF_ZMPPP_WS_COMP_DTLS">

<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">

<sapsession:enableSession>false</sapsession:enableSession>

</sapsession:Session>

<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">

<sapcentraladmin:BusinessApplicationID>5D02DCCEAE454700E100802BAC181DB2</sapcentraladmin:BusinessApplicationID>

</sapcentraladmin:CentralAdministration>

</wsp:Policy>

<wsp:Policy wsu:Id="OP_ZMPPP_COMP_DTL_WEBSERVICE">

<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>

<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>

<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>

<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>

</wsp:Policy>

<wsdl:types>

<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">

<xsd:simpleType name="char1">

<xsd:restriction base="xsd:string">

<xsd:maxLength value="1"/>

</xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="char10">

<xsd:restriction base="xsd:string">

<xsd:maxLength value="10"/>

</xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="char18">

<xsd:restriction base="xsd:string">

<xsd:maxLength value="18"/>

</xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="char4">

<xsd:restriction base="xsd:string">

<xsd:maxLength value="4"/>

</xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="char40">

<xsd:restriction base="xsd:string">

<xsd:maxLength value="40"/>

</xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="char8">

<xsd:restriction base="xsd:string">

<xsd:maxLength value="8"/>

</xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="char9">

<xsd:restriction base="xsd:string">

<xsd:maxLength value="9"/>

</xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="date10">

<xsd:restriction base="xsd:string">

<xsd:maxLength value="10"/>

<xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>

</xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="quantum13.3">

<xsd:restriction base="xsd:decimal">

<xsd:totalDigits value="13"/>

<xsd:fractionDigits value="3"/>

</xsd:restriction>

</xsd:simpleType>

<xsd:simpleType name="unit3">

<xsd:restriction base="xsd:string">

<xsd:maxLength value="3"/>

</xsd:restriction>

</xsd:simpleType>

<xsd:complexType name="ZSTR_MATNR">

<xsd:sequence>

<xsd:element name="MATNR" type="tns:char18"/>

</xsd:sequence>

</xsd:complexType>

<xsd:complexType name="ZMPPP_WEBSERVICE">

<xsd:sequence>

<xsd:element name="ZIDNRK" type="tns:char18"/>

<xsd:element name="ZMAKTX" type="tns:char40"/>

<xsd:element name="ZMEINS" type="tns:unit3"/>

<xsd:element name="ZANDAT" type="tns:date10"/>

<xsd:element name="ZAEDAT" type="tns:date10"/>

<xsd:element name="ZMATKL" type="tns:char9"/>

<xsd:element name="ZMATNR" type="tns:char18"/>

<xsd:element name="ZMAKTX1" type="tns:char40"/>

<xsd:element name="ZMEINS1" type="tns:unit3"/>

<xsd:element name="ZANDAT1" type="tns:date10"/>

<xsd:element name="ZAEDAT1" type="tns:date10"/>

<xsd:element name="ZMENGE" type="tns:quantum13.3"/>

<xsd:element name="ZLGFSB" type="tns:char4"/>

<xsd:element name="ZSTATUS" type="tns:char1"/>

</xsd:sequence>

</xsd:complexType>

<xsd:complexType name="ZSTR_WERKS">

<xsd:sequence>

<xsd:element name="WERKS" type="tns:char4"/>

</xsd:sequence>

</xsd:complexType>

<xsd:complexType name="ZSTR_ALORT">

<xsd:sequence>

<xsd:element name="ALORT" type="tns:char4"/>

</xsd:sequence>

</xsd:complexType>

<xsd:complexType name="TABLE_OF_ZSTR_MATNR">

<xsd:sequence>

<xsd:element name="item" type="tns:ZSTR_MATNR" minOccurs="0" maxOccurs="unbounded"/>

</xsd:sequence>

</xsd:complexType>

<xsd:complexType name="TABLE_OF_ZMPPP_WEBSERVICE">

<xsd:sequence>

<xsd:element name="item" type="tns:ZMPPP_WEBSERVICE" minOccurs="0" maxOccurs="unbounded"/>

</xsd:sequence>

</xsd:complexType>

<xsd:complexType name="TABLE_OF_ZSTR_WERKS">

<xsd:sequence>

<xsd:element name="item" type="tns:ZSTR_WERKS" minOccurs="0" maxOccurs="unbounded"/>

</xsd:sequence>

</xsd:complexType>

<xsd:complexType name="TABLE_OF_ZSTR_ALORT">

<xsd:sequence>

<xsd:element name="item" type="tns:ZSTR_ALORT" minOccurs="0" maxOccurs="unbounded"/>

</xsd:sequence>

</xsd:complexType>

<xsd:element name="ZMPPP_COMP_DTL_WEBSERVICE">

<xsd:complexType>

<xsd:sequence>

<xsd:element name="T_ALORT" type="tns:TABLE_OF_ZSTR_ALORT" minOccurs="0"/>

<xsd:element name="T_MATNR" type="tns:TABLE_OF_ZSTR_MATNR" minOccurs="0"/>

<xsd:element name="T_WERKS" type="tns:TABLE_OF_ZSTR_WERKS"/>

<xsd:element name="UDATE_FROM" type="tns:char10"/>

<xsd:element name="UDATE_TO" type="tns:char10" minOccurs="0"/>

<xsd:element name="UTIME_FROM" type="tns:char8" minOccurs="0"/>

<xsd:element name="UTIME_TO" type="tns:char8" minOccurs="0"/>

<xsd:element name="ZCOMP_DTL" type="tns:TABLE_OF_ZMPPP_WEBSERVICE"/>

</xsd:sequence>

</xsd:complexType>

</xsd:element>

<xsd:element name="ZMPPP_COMP_DTL_WEBSERVICEResponse">

<xsd:complexType>

<xsd:sequence>

<xsd:element name="T_ALORT" type="tns:TABLE_OF_ZSTR_ALORT" minOccurs="0"/>

<xsd:element name="T_MATNR" type="tns:TABLE_OF_ZSTR_MATNR" minOccurs="0"/>

<xsd:element name="T_WERKS" type="tns:TABLE_OF_ZSTR_WERKS"/>

<xsd:element name="ZCOMP_DTL" type="tns:TABLE_OF_ZMPPP_WEBSERVICE"/>

</xsd:sequence>

</xsd:complexType>

</xsd:element>

</xsd:schema>

</wsdl:types>

<wsdl:message name="ZMPPP_COMP_DTL_WEBSERVICE">

<wsdl:part name="parameters" element="tns:ZMPPP_COMP_DTL_WEBSERVICE"/>

</wsdl:message>

<wsdl:message name="ZMPPP_COMP_DTL_WEBSERVICEResponse">

<wsdl:part name="parameter" element="tns:ZMPPP_COMP_DTL_WEBSERVICEResponse"/>

</wsdl:message>

<wsdl:portType name="ZMPPP_WS_COMP_DTLS">

<wsp:Policy>

<wsp:PolicyReference URI="#IF_ZMPPP_WS_COMP_DTLS"/>

</wsp:Policy>

<wsdl:operation name="ZMPPP_COMP_DTL_WEBSERVICE">

<wsp:Policy>

<wsp:PolicyReference URI="#OP_ZMPPP_COMP_DTL_WEBSERVICE"/>

</wsp:Policy>

<wsdl:input message="tns:ZMPPP_COMP_DTL_WEBSERVICE"/>

<wsdl:output message="tns:ZMPPP_COMP_DTL_WEBSERVICEResponse"/>

</wsdl:operation>

</wsdl:portType>

<wsdl:binding name="ZMPPP_WS_COMP_DTLS" type="tns:ZMPPP_WS_COMP_DTLS">

<wsp:Policy>

<wsp:PolicyReference URI="#BN_ZMPPP_WS_COMP_DTLS"/>

</wsp:Policy>

<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

<wsdl:operation name="ZMPPP_COMP_DTL_WEBSERVICE">

<soap:operation soapAction="" style="document"/>

<wsdl:input>

<soap:body use="literal"/>

</wsdl:input>

<wsdl:output>

<soap:body use="literal"/>

</wsdl:output>

</wsdl:operation>

</wsdl:binding>

<wsdl:service name="ZMPPP_WS_COMP_DTLS">

<wsdl:port name="ZMPPP_WS_COMP_DTLS" binding="tns:ZMPPP_WS_COMP_DTLS">

<soap:address location="http://eccauto.pune.telco.co.in:8000/sap/bc/srt/rfc/sap/zmppp_ws_comp_dtls/170/zmppp_ws_comp_dtls/zmppp_ws_comp_dtls"/>

</wsdl:port>

</wsdl:service>

</wsdl:definitions>